@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*css for header*/
.header {
    background-color: rgb(72, 72, 214);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 15px 3vw;
    position: fixed;
    z-index: 999;
}

.title {
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.page-nav {
    display: inline-flex;
    list-style: none;
}
.page-nav li {
    margin: 0 20px;
}
.page-nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.page-nav a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.page-nav a:hover::after{
    width: 100%;
}

/*css for sticky nav-bar*/
.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

header.sticky{
    background: rgb(72, 72, 214);
}
/*css for sticky nav-bar ends here*/


body{
    background: #111;
    padding-bottom: 300px;
    overflow-x: hidden;
}

body:before{
    content: "RexJ' Global Ventures";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16em;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px #555;
}

.intro{
    text-align: center;
    color: #fff;
    padding-top: 100px;
    font-size: 5em;
    font-family: sans-serif;
}

/*css for read more links*/
.r-m-link{
    margin-top: 30px;
    margin-right: 0px;  
}
.read-more{
    text-decoration: none;
    border-radius: 7px;
    font-size: 1.2em;
    padding: 7px;
    background-color: rgb(72, 72, 214);
    color: white;
}

/*css for parallax scroll section*/
section{
    font-family: sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

section h2{
    margin-left: 300px;
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
}

section .container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section:nth-child(even) .container{
    flex-direction: row-reverse;
}

section .container .imgbox{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}

section .container .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .content{
    position: absolute;
    right: 0;
    margin-top: 200px;
    margin-bottom: 40px;
    padding: 40px;
    background: #333;
    z-index: 1;
    max-width: 400px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1);
    border-bottom: 6px solid #4ac7ff;  
}

section:nth-child(even) .container .content{
    left: 0;
}

/*css for footer*/
.footer-color {
    background-color:rgb(72, 72, 214) ;
    color: white;
}
.footer-color p {
    padding: 20px;
    text-align: center;
}

.footer-row {
    display: flex;
    width: 100%;
    margin-top: 2%;
    justify-content: space-between;
}
.footer-col-1 {
    width: 25%;
}
.footer-col-2 {
    width: 50%;
}
.footer-col-3 {
    width: 75%;
}
.footer-col-4 {
    width: 100%;
}

.footer-col-1 {
    margin: 10px;
    padding-left: 20px;
    margin-bottom: 0px;
    text-align: start;
}

.footer-col-1 a{
    text-decoration: none;
    color: #fff;
}

.footer-col-1 a:hover { 
   color: gold;
}

.dance {
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.dance a, h3{
    font-size: 1.2em;
    transition: 0.3s ease;
}    
.dance a:hover{
    transform: translateX(50px);
}
.dance h3:hover{
    transform: translateX(-50px);
}

.footer-media-icons {
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.footer-media-icons a{
    font-size: 1.6em;
    transition: 0.3s ease;
}
.footer-media-icons a{
    margin: 15px;
}
.footer-media-icons a:hover{
    transform: scale(1.3);
}


